{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span4">
		<img src="{{ MEDIA_URL }}{{ photo.file }}" class="img-rounded" />
		<ul class="thumbnails">
		{% for photo in photos %}
			<li class="span1">
				<img src="{{ MEDIA_URL }}{{ photo.file }}" class="img-rounded" />
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="span7 offset">
		<p>
			<strong>{{ pet.name }}</strong>
			{% if pet.age %}<br />Возраст: {{ pet.age }} {{ pet.age|pluralize:"год,лет" }}{% endif %}
			<br />Пол: {% if pet.sex == 'M' %}мальчик{% else %}девочка{% endif %}
			<br />Здоровье: {% if pet.health == 'G' %}отличное{% elif pet.health == 'С' %}среднее{% else %}плохое{% endif %}
			<br />Где находится: {% if pet.location == 'H' %}дома{% elif pet.location == 'S' %}в приюте{% else %}на улице{% endif %}
			{% if pet.description %}<br />Описание: {{ pet.description }}{% endif %}
		<p>
	</div>
</div>
{% endblock %}

